* {
    margin: 0 auto;
    background-color: #a4cbf3;
}
.top-page {
    padding: 2em;
}
.wrapper {
    text-align: center;

}
.content {
    padding: 2em;
}
.skills,
.code-examples,
.experience {
    border-bottom: 1px solid #b00000;
    margin: 2em;
}

h3 {
    text-transform: uppercase;
    font-family: sans-serif, Raleway;
}
p, h6 {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.contact-info a {
    text-decoration: none;
    color: #fffafa;
}
a {
    text-decoration: none;
    color: #ff4500;
}
.skills:hover,
.code-examples:hover,
.experience:hover {
    color: dodgerblue;
}


